<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>{{Text}}</p>
<center>

  <form action="/movie"  method="post">
    ENTER MOVIE NAME :<input type="text" name="moviename">
    <input type="submit" value="CLICK ME FOR REVIEW">

  </form>



</center>
