<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>{{weather}}</p>
<CENTER>
  <form action="/weather" >
    ENTER CITY NAME: <INPUT TYPE="text" name="city">
    <input type="submit">



  </form></CENTER>

